
body{
  justify-content: center;
  background-image: url('../../Images/whiteTrees.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.colorTrial {
  background-color: #b3b8b8;
}

.colorTry {
  color: #131516;
};


